@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.slider{
  background-color: #9e9e9e;
  border-bottom: 1px solid #2196f3;
  border-top: 1px solid #2196f3;
}

.slick-arrow{
  display: none!important;
}

.slick-active img {
  margin-left: 5px;
  margin-right: 14px;
  display: inline;
}

.slick-center img{
  border: 1px solid #2196f3;
  width: 120px;

  margin-left: 2px!important;
  margin-right: 14px!important;
}
