.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.main{
  flex: 1;
  min-width: 0;
}
