.cardInfo{
  background-color: #404040;
  border-bottom: 1px solid #060606;
  border-top: 1px solid #060606;
}

.grow{
  display: inline;
}

.cardInfo span.col-4{
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin-right: -20px;
}

span .value{
  color: rgba(239, 239, 243, .83);
  font-size: 13px;
  margin-left: 20px;
  font-weight: 600;
  display: list-item;
}

.linkCarta a {
  color: rgba(239, 239, 243, .83);
  float: right!important;
  font-size: 1.3em;
  margin-top: -15px;
}
