#wrapper{
  display: flex;
}

.sidebar-nav{
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #576ce0;
  transition: all 0.4s;
}

.itens{
  width: 100%;
  min-height: 35px;
  border-bottom: .4px solid #756575;
  background-color: #8d9efb;
}

.itens li{
  margin: 10px 10px 10px 15px;
}

.itens a.active{
  color: #263d92;
}

.itens a{
  text-decoration: none;
  color: #d3e4b1;
  font-family: 'Patua One', cursive;
  font-size: 1.5rem;
}
