<div class="row">
  <div class="card col-12 my-3" *ngFor="let carta of cartas | slice:0:20">
    <div class="row" style="background-color: #f2f2f2;">
      <div class="col-2 p-0" style="height: 17rem; overflow: hidden">
        <div class="image-card card-img" [style.background-image]="getBackground(carta.image_path)"></div>
      </div>
      <div class="card-block col-6 py-2">
        <h4 class="card-title">{{ carta.name }}</h4>
        <p class="card-text text-justify">{{ carta.text }}</p>
      </div>
      <div class="card-block col stats">
        <div class="row">
          <ng-container *ngFor="let key of keys">
            <p *ngIf="toShow.indexOf(key) >= 0 && carta[key]" class="col-6">
              <span class="text-bold">{{ key }}</span><br>
              <span>{{ carta[key] }}</span>
            </p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
