.image-card{
  color: #fff;
  height: 100%;
  background-size: cover!important;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.card{
  box-shadow: 1px 1px 6px 0px rgba(35, 35, 35, 0.64);
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.text-bold{
  font-weight: bold;
}

.stats{
  background-color: rgba(233, 233, 233, 0.42);
  border-left: 1px solid #e4e4e4;
}
